



<div class="wineBg" style="background-image: url({{displayBottle.imgPath}})">
  <div class="wineBigInfo">
  	<h1>{{displayBottle.winename}}</h1>
    	<h2>{{displayBottle.year}}</h2>
      </div>
</div>
<div class="infoWine">
  <div>
    <div class="flexCountry">
    <h2>Country:&nbsp;</h2>
    <div class="flagge"><img src="{{countryFlag}}"></div>
    
    </div>

    <h2>Colour:  <span style="color:{{bgColour}}">&#8226;&#8226;&#8226;</span></h2>
    <h2>Year: {{displayBottle.year}}</h2>
    <h2>Goes well with: {{foodHex}}{{foodHex}}</h2>
  </div>
  <div>
  <h2>Organic: {{displayBottle.bio}}</h2>
    <h2>Rating: {{displayBottle.rating}}</h2>
    <h2>Price: {{displayBottle.price}} €</h2>
  </div>
</div>
<div class="review">
  <h1>Review:</h1>

{{#each displayBottle.comments}}
<div>
  <p><i>{{this.comments}}</i></p>
  <img src="{{this.user.imgPath}}" alt="avatarPic">
  <span>{{this.user.username}}</span>
</div>
{{/each}}

  <form action="/wines/{{displayBottle._id}}/comments" method="POST">
    <label for="comment"></label> 
    <input id="comment" type="text" name="comment" placeholder="your review here...">
    <button type="submit">Submit review</button>
</form>

</div>

