



<div class="wineBg" style="background-image: url('{{displayBottle.imgPath}}">
  	<h1>{{displayBottle.winename}}</h1>
</div>
<div class="infoWine">
  <div>
    <h2>Country: <img src="{{countryFlag}}"></h2>
    <h2>Colour:  <span style="color:{{bgColour}}">&#8226;&#8226;&#8226;</span></h2>
    <h2>Year: {{displayBottle.year}}</h2>
    <h2>Goes well with: {{foodHex}}{{foodHex}}</h2>
  </div>
  <div>
  <h2>Organic: {{displayBottle.bio}}</h2>
    <h2>Rating: {{displayBottle.rating}}</h2>
    <h2>Price: {{displayBottle.price}} €</h2>
  </div>
</div>
<div class="review">
  <h1>Review:</h1>

  <h5>{{displayBottle.comments.0.user}}</h5>
  <h5>{{displayBottle.comments.0.comments}}</h5>
 
</div>

