



<div class="wineBg" style="background-image: url('{{displayBottle.imgPath}}">
  	<h1>{{displayBottle.winename}}</h1>
</div>
<div class="infoWine">
  <div>
    <h2>Country: {{displayBottle.country}}</h2>
    <h2>Colour:  <span style="color:{{bgColour}}">&#8506;&#8506;&#8506;</span></h2>
    <h2>Year: {{displayBottle.year}}</h2>
    <h2>Good to: Cheese</h2>
  </div>
  <div>
  <h2>Organic: {{displayBottle.bio}}</h2>
    <h2>Rating: {{displayBottle.rating}}</h2>
    <h2>Price: {{displayBottle.price}} €</h2>
  </div>
</div>
<div class="review">
  <h1>Review:</h1>

  <h5>{{displayBottle.comments.0.comments}}</h5>
  <h5>{{displayBottle.comments.0.user.username}}</h5>

  <form action="/wineView" method="POST">
    <label for="comment"></label> 
  <input id="comment" type="text" name="firstName">
  <button type="submit">Submit review</button>
</form>
</div>

