{{#with displayBottle}}




<div class="wineBg" style="background-image: url('{{this.imgPath}}">
  	<h1><span>{{this.winename}}</span></h1>

</div>
<div class="infoWine">
  <div>
    <h2>Country: {{this.country}}</h2>
    <h2>Colour: {{this.colour}}</h2>
    <h2>Year: {{this.year}}</h2>
    <h2>Good to: Cheese</h2>
  </div>
  <div>
  <h2>Organic: {{this.bio}}</h2>
    <h2>Rating: {{this.rating}}</h2>
    <h2>Price: {{this.price}} €</h2>
  </div>
</div>
<div class="review">
  <h1>Review:</h1>

  <h5>{{this.comments}}</h5>
 
</div>

{{/with}}